
#profileHero0 .hero-body {

	img {
		transform: translate(-50%, 0%);
		left: 50%;
	}
	
	#locationLabel {
		margin: -20px 0 0 0;
	}
}

#profileHero0 .hero-foot {

	ul {
		// transform: translate(-50%, 0%);
		// left: 50%;
	}

}

