@import '../assets/scss/palette.scss';

#profileWrapper {
	// border: solid green;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100vw; height: 100vh;
	animation: fadein 2s;
	// background-color: rgba(255, 255, 255, 0.9);
	background-color: rgba(255, 255, 255, 1);

	#profileBody {
		margin-top: 5vh;
		// border: solid 1px red;
	}

	.column {
	}


}

@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}







// #profileWrapper {

// 	// dev
// 	.columns {
// 		border: solid 1px red;
// 	}
// 	.column {
// 		border: solid 1px green;
// 	}
// 	.container {
// 		border: solid 1px rgb(243, 82, 230);
// 	}
// 	.section {
// 		border: solid 1px rgb(0, 0, 255);
// 	}
// }