
#searchWrapper {
	display: flex;
	width: 100vw;
	height: 93vh;
	// border: 2px solid rgb(238, 135, 135);
}

#searchWrapper 	#paramPanel {
	animation: panelShow 1s 1 0s ease-in-out;
	border-left: 5px solid rgb(40, 67, 171);
	border-right: 1px solid rgba(40, 66, 171, 0.1);
	// border: 1px solid red;
	width: 12vw;
	height: 94vh;
	padding-left: 10px;

	button {
		margin-left: 50%;
    transform: translate(-50%);
	}

	p {
		margin-left: 50%;
    transform: translate(-50%, 50%);
	}
}

#searchWrapper #memberPres {
	// border: 2px solid red;
	display: flex;
	justify-content: space-around;
}

#searchWrapper .card {
	width: 276px;
	height: 250px;
	margin: 10px;
	// background-color: rgba(42, 35, 145, 0.356);
	

	:hover {
		// width: 260px;
		// border-radius: 2px;
		box-shadow: 2px 2px 10px 0px rgb(219, 217, 248);
	}

}

#searchWrapper .card figure {
	width: 256px;
	margin: 10px 10px 0px 10px;

}

@keyframes panelShow {
	0% {
		transform: translateX(-200px);
	}
	
	60% {
		transform: translateX(20px);
	}
	
	80% {
		transform: translateX(-10px);
	}
	
	100% {
		transform: rotate(xx) translateX(0px);
	}
	
}