/* Coolors Exported Palette - coolors.co/03256c-2541b2-1768ac-06bee1-ffffff */

/* HSL */
// $color1: hsla(221%, 95%, 22%, 1);
// $color2: hsla(228%, 66%, 42%, 1);
// $color3: hsla(207%, 76%, 38%, 1);
// $color4: hsla(190%, 95%, 45%, 1);
// $color5: hsla(0%, 0%, 100%, 1);

/* RGB */
$color1: rgba(3, 37, 108, 1);
$color2: rgba(37, 65, 178, 1);
$color3: rgba(23, 104, 172, 1);
$color4: rgba(6, 190, 225, 1);
$color5: rgba(255, 255, 255, 1);
$color1-75: rgba(3, 37, 108, 0.75);
$color2-75: rgba(37, 65, 178, 0.75);
$color3-75: rgba(23, 104, 172, 0.75);
$color4-75: rgba(6, 190, 225, 0.75);
$color5-75: rgba(255, 255, 255, 0.75);
$color1-50: rgba(3, 37, 108, 0.5);
$color2-50: rgba(37, 65, 178, 0.5);
$color3-50: rgba(23, 104, 172, 0.5);
$color4-50: rgba(6, 190, 225, 0.5);
$color5-50: rgba(255, 255, 255, 0.5);
$color1-25: rgba(3, 37, 108, 0.25);
$color2-25: rgba(37, 65, 178, 0.25);
$color3-25: rgba(23, 104, 172, 0.25);
$color4-25: rgba(6, 190, 225, 0.25);
$color5-25: rgba(255, 255, 255, 0.25);