@import '../components/SignIn.scss';
@import '../components/SignOn.scss';

body {
	background-image: url('../../backgounds/matchacouple-accueil_blured.jpg');
	background-size: cover;
}

#homeWrapper {
	// border: solid green;
	margin: 0 0 0 0;
	width: 100vw; height: 100vh;
}