@import '../palette.scss';

#profileWrapper {
	// border: solid green;
	margin: 0 0 0 0;
	width: 100vw; height: 100vh;
	// background-color: #D8DBE2;
	// // // background-color: rgba(175, 175, 175, 0.9);
	background-color: rgba(255, 255, 255, 0.7);

	#profileBody {
		margin-top: 5vh;
		// border: solid 1px red;
	}
}












// #profileWrapper {

// 	// dev
// 	.columns {
// 		border: solid 1px red;
// 	}
// 	.column {
// 		border: solid 1px green;
// 	}
// 	.container {
// 		border: solid 1px rgb(243, 82, 230);
// 	}
// 	.section {
// 		border: solid 1px rgb(0, 0, 255);
// 	}
// }