#topInfoWrapper {
	border: 1px solid rgba(0, 0, 0, 0.1);
}




#topInfoWrapper {

	#columnLeft {
		// border: solid red;
	}

	figure {
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}

}
