#ProfilePicManagerSection {

	#col1-1 {
		padding: 0 0 0 0;
	}

	#col2-1, #col2-2{
		padding: 0 0 0 0;
	}

	#figureTopMain {
		overflow: scroll;
		min-width: 400px;
		// min-height: 250px;
		max-width: 450px;
		max-height: 300px;
		// overflow: hidden;
	}
	
	
	

	#picTopMain {
		height: 100%;
		width: 100%;
		bottom: 0;
	}

	#picTop-1-1,
	#picTop-2-1,
	#picTop-1-2,
	#picTop-2-2 {
		height: 130px;
		// width: 200px;
		width: 100%;
		z-index: 2;
		background-color: rgba(0, 0, 0, 0.5);
	}

	#picBottom-1-1,
	#picBottom-2-1,
	#picBottom-1-2,
	#picBottom-2-2 {
		// display: none;
		position: absolute;
		z-index: 1;
		// left: -20%;
	}

}

#ProfilePicManagerSection {

	.delete {
		display: none;
		top: 5px;
		right: 5px;
		position: absolute;
		z-index: 3;
	}

	#figureTopMain:hover,
	#figureTop-1-1:hover,
	#figureTop-2-1:hover,
	#figureTop-1-2:hover,
	#figureTop-2-2:hover {
		.delete {
			display: initial;
		}
		.delete:hover {
			display: initial;
			background-color: rgba(255, 0, 0, 0.75);
		}
	}

	// #figureTop-1-1:hover {
	// 	.delete {
	// 		display: initial;
	// 	}
	// }
	

	}




// #ProfilePicManagerSection {
// 	// dev
// 	.columns {
// 		border: solid 1px red;
// 	}
// 	.column {
// 		border: solid 1px green;
// 	}
// 	.container {
// 		border: solid 1px rgb(243, 82, 230);
// 	}
// 	.section {
// 		border: solid 1px rgb(0, 0, 255);
// 	}
// }
